# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [39]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [40]:
# Load and Read CSV file

cities = pd.read_csv("output/cities_weather_info.csv")
cities.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,busselton,-33.6500,115.3333,57.99,79,0,1.01,AU,1618686721
1,ratnagiri,16.9833,73.3000,81.88,75,0,10.42,IN,1618687215
2,bengkulu,-3.8004,102.2655,75.15,88,100,3.38,ID,1618686850
3,jamestown,42.0970,-79.2353,46.99,70,90,6.91,US,1618686586
4,kavieng,-2.5744,150.7967,81.21,80,98,10.00,PG,1618686844

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [41]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Store latitute and Longitude info
city_cleaned=cities.dropna()
locations = city_cleaned[["Lat", "Lng"]].astype(float)

# Store Humidity info
humidity = city_cleaned["Humidity"].astype(float)

In [42]:
# Plot heatmap & add heat layer
fig = gmaps.figure(center=(50.0,-4.0), zoom_level=2)
max_intensity = np.max(humidity)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 3)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [43]:
# Narrow down dataset for: Temps < 80 deg and > 70 deg, Wind Speeds < 10 mph, and no clouds

city_conditionals = city_cleaned.loc[(city_cleaned["Wind Speed"]<= 10) & \
                                     (city_cleaned["Cloudiness"] == 0) & \
                                     (city_cleaned["Max Temp"] >= 70) & \
                                     (city_cleaned["Max Temp"] <= 80)].dropna()
city_conditionals

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
30,carnarvon,-24.8667,113.6333,76.53,71,0,6.91,AU,1618686584
98,saldanha,-33.0117,17.9442,73.40,33,0,5.75,ZA,1618686878
205,ovalle,-30.5983,-71.2003,79.41,38,0,6.15,CL,1618687198
230,cockburn town,21.4612,-71.1419,78.62,80,0,9.19,TC,1618686769
239,chuy,-33.6971,-53.4616,71.37,66,0,7.76,UY,1618686576
479,noumea,-22.2763,166.4572,75.00,94,0,8.03,NC,1618687417
506,marzuq,14.4000,46.4667,70.83,54,0,5.55,YE,1618687426
602,carnarvon,-24.8667,113.6333,76.33,69,0,5.99,AU,1618690712
648,cape town,-33.9258,18.4232,72.00,82,0,3.44,ZA,1618690719
777,ovalle,-30.5983,-71.2003,78.91,38,0,7.34,CL,1618690764
936,vicuna,-30.0319,-70.7081,79.00,24,0,1.01,CL,1618690541
1026,adrar,20.5022,-10.0711,79.12,19,0,9.95,MR,1618690852
1051,noumea,-22.2763,166.4572,75.00,94,0,2.30,NC,1618690861
1078,marzuq,14.4000,46.4667,70.39,54,0,5.95,YE,1618690870

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [44]:
# Create dataframe for hotel data
hotel_df = city_conditionals.loc[:,["City", "Country", "Lat", "Lng"]]

# Add a column to hold the Hotel name
hotel_df["Hotel Name"] = ""
hotel_df

               City Country      Lat       Lng Hotel Name
30        carnarvon      AU -24.8667  113.6333
98         saldanha      ZA -33.0117   17.9442
205          ovalle      CL -30.5983  -71.2003
230   cockburn town      TC  21.4612  -71.1419
239            chuy      UY -33.6971  -53.4616
479          noumea      NC -22.2763  166.4572
506          marzuq      YE  14.4000   46.4667
602       carnarvon      AU -24.8667  113.6333
648       cape town      ZA -33.9258   18.4232
777          ovalle      CL -30.5983  -71.2003
936          vicuna      CL -30.0319  -70.7081
1026          adrar      MR  20.5022  -10.0711
1051         noumea      NC -22.2763  166.4572
1078         marzuq      YE  14.4000   46.4667

In [45]:
# Find Hotels within 5000 meters

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {
    "type": "hotel",
    "keyword": "hotel",
    "radius": 5000,
    "key": g_key,
}

In [46]:
# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():

    # get city name and coordinates for each record
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    # add location to params dict
    params["location"] = f"{lat},{lng}"
    
    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]["name"]
       
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("----------------------------------------------------------------------")

Retrieving Results for Index 30: carnarvon.
Closest hotel in carnarvon is Carnarvon Sea Change Apartments.
----------------------------------------------------------------------
Retrieving Results for Index 98: saldanha.
Closest hotel in saldanha is 12 on Beach Guest House.
----------------------------------------------------------------------
Retrieving Results for Index 205: ovalle.
Closest hotel in ovalle is Hotel Keo.
----------------------------------------------------------------------
Retrieving Results for Index 230: cockburn town.
Closest hotel in cockburn town is Osprey Beach Hotel.
----------------------------------------------------------------------
Retrieving Results for Index 239: chuy.
Closest hotel in chuy is Descanso al Paso Chuy.
----------------------------------------------------------------------
Retrieving Results for Index 479: noumea.
Closest hotel in noumea is Nouvata.
----------------------------------------------------------------------
Retrieving Results for Index 506: marzuq.
Missing field/result... skipping.
----------------------------------------------------------------------
Retrieving Results for Index 602: carnarvon.
Closest hotel in carnarvon is Carnarvon Sea Change Apartments.
----------------------------------------------------------------------
Retrieving Results for Index 648: cape town.
Closest hotel in cape town is Atlanticview Cape Town Boutique Hotel.
----------------------------------------------------------------------
Retrieving Results for Index 777: ovalle.
Closest hotel in ovalle is Hotel Keo.
----------------------------------------------------------------------
Retrieving Results for Index 936: vicuna.
Closest hotel in vicuna is Hotel Tukun Mapu.
----------------------------------------------------------------------
Retrieving Results for Index 1026: adrar.
Missing field/result... skipping.
----------------------------------------------------------------------
Retrieving Results for Index 1051: noumea.
Closest hotel in noumea is Nouvata.
----------------------------------------------------------------------
Retrieving Results for Index 1078: marzuq.
Missing field/result... skipping.
----------------------------------------------------------------------

In [47]:
# Display the dataframe with the Hotel name added
hotel_df

,City,Country,Lat,Lng,Hotel Name
30,carnarvon,AU,-24.8667,113.6333,Carnarvon Sea Change Apartments
98,saldanha,ZA,-33.0117,17.9442,12 on Beach Guest House
205,ovalle,CL,-30.5983,-71.2003,Hotel Keo
230,cockburn town,TC,21.4612,-71.1419,Osprey Beach Hotel
239,chuy,UY,-33.6971,-53.4616,Descanso al Paso Chuy
479,noumea,NC,-22.2763,166.4572,Nouvata
506,marzuq,YE,14.4000,46.4667,
602,carnarvon,AU,-24.8667,113.6333,Carnarvon Sea Change Apartments
648,cape town,ZA,-33.9258,18.4232,Atlanticview Cape Town Boutique Hotel
777,ovalle,CL,-30.5983,-71.2003,Hotel Keo
936,vicuna,CL,-30.0319,-70.7081,Hotel Tukun Mapu
1026,adrar,MR,20.5022,-10.0711,
1051,noumea,NC,-22.2763,166.4572,Nouvata
1078,marzuq,YE,14.4000,46.4667,

In [48]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [49]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))